/******************************************* PUBLIC ********************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, input {
  direction: rtl;
  font-family: 'Vazirmatn', sans-serif;
}

/* inputs */
input {
  border-radius: 5px;
  outline: 0;
  border: 1px solid darkgray;
  padding: 10px;
  font-size: 15px;
  width: 200px;
}

input[type="radio"] {
  width: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=password], input[type=number] {
direction: ltr;
}

input[type=number] {
-moz-appearance: textfield;
direction: ltr;
}

input[type=number]::placeholder {
text-align: center;
}

/* buttons */
.btn {
  font-family: 'Vazirmatn', sans-serif;
  background-color: #1a56db; 
  border: 1px solid ; 
  color: white; 
  padding: 10px; 
  font-size: 14px; 
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 200px
}

.btn:hover {
  background-color: RoyalBlue;
}

.btn.btn-success {
  background: #15803d;
}
.btn.btn-success:hover {
  background-color: #166534;
}

.btn.btn-danger {
  background: #b91c1c;
}
.btn.btn-danger:hover {
  background-color: #991B1B;
}

/* table */
.container-table {
  overflow-x: auto;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 14px;
  white-space: nowrap;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.container {
  margin: 20px;
}

/* chip */
.chip{
    display: inline-flex;
    flex-direction: row;
    background-color: #e5e5e5;
    border: none;
    cursor: default;
    height: 36px;
    outline: none;
    padding: 0;
    color: #333333;
    white-space: nowrap;
    align-items: center;
    border-radius: 16px;
    vertical-align: middle;
    text-decoration: none;
    justify-content: center;
    margin: 10px 0;
}
.chip-head {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #32C5D2;
    font-size: 1.25rem;
    flex-shrink: 0;
    align-items: center;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
    width: 36px;
    color: #fff;
    height: 36px;
    font-size: 20px;
    margin-right: -4px;
}
.chip-content {
    cursor: inherit;
    display: flex;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
}

.chip-svg:hover {
    color: #666666;
}

.btn-icon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


/******************************************* END PUBLIC ********************************************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e5e7eb;
  padding: 20px;
}

header > div {
  width: 33%;
  display: flex;
  text-align: center;
  justify-content: center;
}

header > div:first-child  {
  justify-content: flex-start;
}

header > div:last-child  {
  justify-content: flex-end;
}

.list-boxs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.box {
  margin: 40px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#search-sku {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

td#stock {
  width: 100px;
  text-align: right;
}

td#shop {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

td#shop > span  {
  width: 25px;
  height: 25px;
  background: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  line-height: 25px;
}

.stock-change-items {
  display: flex;
  justify-content: space-between;
  gap: 30px
}

.stock-change-items input {
  margin-left: 10px;
}

.stock-change-items label {
  width: 100%;
  padding: 15px;
  display: flex;
  cursor: pointer;
}

.stock-change-items > div:hover {
  background: rgb(234, 234, 234);
}

.stock-change-items > div {
  flex-grow: 1;
  border: 1px solid darkgray;
  margin: 20px 0;
  border-radius: 5px;
}

.stock-change-boxs {
  display: flex;
  justify-content: center;
}

.stock-change-box {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 650px;
  padding: 15px;
  border: 1px solid darkgray;
  margin: 20px 0;
  border-radius: 5px;
  align-items: center;
}

.stock-change-box input[type=text] {
  margin: 20px;
  width: 80%;
  font-size: 14px;
}

.stock-change-box.increase {
  background: #BBF7D0;
  border-color: #166534
}

.stock-change-box.decrease {
  background: #FECACA;
  border-color: #ef4444
}

.stock-change-box p {
  margin: 15px 0;
}

.input-icon {
  display: flex;
  justify-content: center;
}

.input-icon img {
  margin: 0 5px;
  border: green;
  border-radius: 10px;
}

.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100dvh);
}

.container-login .box {
  background: #f7f7f7
}

.container-login .box {
  width: 30%;
}

.container-login input {
  width: 75%;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.form-login img {
  margin: 20px 0;
}

/* light background */
.bg-1 {
background: rgb(255, 204, 204);
background: linear-gradient(45deg, rgba(255, 204, 204, 1) 0%, rgba(204, 229, 255, 1) 100%);
}

.bg-2 {
background: rgb(255, 255, 204);
background: linear-gradient(90deg, rgba(255, 255, 204, 1) 0%, rgba(204, 255, 229, 1) 100%);
}

.bg-3 {
background: rgb(204, 255, 204);
background: linear-gradient(135deg, rgba(204, 255, 204, 1) 0%, rgba(204, 204, 255, 1) 100%);
}

.bg-4 {
background: rgb(204, 255, 255);
background: linear-gradient(180deg, rgba(204, 255, 255, 1) 0%, rgba(255, 204, 255, 1) 100%);
}

.bg-5 {
background: rgb(255, 229, 204);
background: linear-gradient(225deg, rgba(255, 229, 204, 1) 0%, rgba(204, 255, 255, 1) 100%);
}

.bg-6 {
background: rgb(229, 204, 255);
background: linear-gradient(270deg, rgba(229, 204, 255, 1) 0%, rgba(255, 204, 204, 1) 100%);
}

.bg-7 {
background: rgb(204, 229, 255);
background: linear-gradient(315deg, rgba(204, 229, 255, 1) 0%, rgba(255, 255, 204, 1) 100%);
}

.bg-8 {
background: rgb(255, 204, 229);
background: linear-gradient(360deg, rgba(255, 204, 229, 1) 0%, rgba(204, 255, 204, 1) 100%);
}

.bg-9 {
background: rgb(204, 255, 229);
background: linear-gradient(45deg, rgba(204, 255, 229, 1) 0%, rgba(229, 204, 255, 1) 100%);
}

.bg-10 {
background: rgb(255, 229, 255);
background: linear-gradient(90deg, rgba(255, 229, 255, 1) 0%, rgba(204, 204, 255, 1) 100%);
}


@media (max-width: 600px) {
  #time-display {
    display: none;
  }
  .stock-change-items {
    flex-direction: column;
    gap: 0;
  }
  .stock-change-box .btn, #search-sku .btn, input, .container-login .box, .container-login .btn {
    width: 100% !important;
  }
  .input-icon {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .container-login .box {
    margin: 20px;
  }
}